Model/checkpoint/checkpoint
Model/checkpoint/ckpt-0.data-00000-of-00001
Model/checkpoint/ckpt-0.index
Model/saved_model/saved_model.pb
Model/saved_model/variables/variables.data-00000-of-00001
Model/saved_model/variables/variables.index
trafficLightImages/*
Server/.venv/*